$colorBackgroundOrange1:#FF6E30;
$colorBackgroundOrange2:#BC572B;
$colorBackgroundOrange3:#CE4307;

$colorBackgroundPink1:#F06666;
$colorBackgroundPink2:#FF3030;
$colorBackgroundPink3:#FFD4C1;

$colorBackgroundGrey1:#E9E9E9;
$colorBackgroundGrey2 :#CACACA;
$colorBackgroundGrey3:#999999;
$colorBackgroundGrey4:#4A4A4A;
$colorBackgroundGrey5:rgba(32, 32, 32, 0.85);
$colorBackgroundGrey6 : #202020;
$colorBackgroundWhite: #FFFFFF;
