@media (max-width: 1300px) {

    .works {
        
        padding-top: 35px;
        margin-bottom: 119px;
    }
    .contacts {
        &__grid {
            grid-template-columns: 62.5% 39%;
            grid-template-rows: 66% 34%;
        }
        &__map {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        &__adress{
            grid-column: 1/1;
            grid-row: 2/3;
            padding: 25px 150px 24px 30px;
        }
        &__form {
            height: 460px;
            grid-column: 2/3;
            grid-row: 1/3;
        }
    }
}

@media (max-width: 1024px) {
    .container {
        padding-left: 31px;
        padding-right: 31px;
    }

    .header {
        &__logo {
            display: none;
         }
     
         &__logo--mobile {
             display: block;
            margin-right: 55px;
         }
     
         &__item:not(:last-child) {
             margin-right: 10px;
         }
         &__search-btn {
             width: 123px;
             margin-right: -22px;
         }
    }


    .works {
        grid-template-rows: 8% 58% 33%;

        &__item-title {
            line-height: 25px;
        }
        &__masterclass {
            top: -23px;
            left: 30px;
            padding:0 24px 4px 0px;
        }
        &__masterclass--title{
            margin-bottom: 9px;
        }
        &__masterclass--descr{
            font-size: 34px;
        }
    }

    .projects {
        margin-bottom: 64px;
        &__grid {
            grid-template-columns: repeat(8, 10%);
            grid-template-rows: 29% 32% 32%;
           
           
        }
        &__card--item1{
            grid-column: 1/3;
        }
        &__card--item2{
            grid-row: 1/1;
            grid-column: 3/5;
        }
        &__card--item3{
            grid-row: 1/1;
            grid-column: 5/9;
        }
        &__card--item4{
            grid-row: 2/2;
            grid-column: 1/6;
        }
        &__card--item5{
            grid-row: 3/3;
            grid-column: 4/9;
        }
        &__card--item6{
            grid-row: 2/2;
            grid-column: 6/9;
        }
        &__card--item7{
            grid-row: 3/3;
            grid-column: 1/4;
        }
    }
   
    .card {
        &__descr {
            display: none;
        }
        &__descr--1024-768 {
            display: block;
            margin-bottom: 17px;
        }
        &__bgrnd {
            margin-bottom: 15px;
        }
    }
    .bigcard {
        padding-top: 32px;
    }

    .about {
        padding-bottom: 60px;
        &__grid {
            grid-template-columns: 49% 49%;
        }
        &__form--form {
            flex-direction: column;
        }
    
        &__input {
            margin-bottom: 20px;
            max-width: 342px;
        }
        &__img {
            height: 61%;
        }
    }
 
    .footer {
        &__grid {
            grid-template-columns:36% 45% 21% ;
        }
    
        &__logo {
            display: none;
        }
        &__logo--mobile {
            display: flex;
            flex-direction: column;
        }
    }

  
}

@media (max-width: 1000px) {
    .container {
        padding-right: 7px;
        padding-left: 27px;
    }
    .header__bottom {
        display: flex;
    }
    .header__item--item1,.header__item--item2,.header__item--item3,.header__item--item4,.header__item--item5 {
        display: none;
    }
    .header__search-btn {
        margin: 0;
    }

    .works {
        margin-bottom:122px;
        grid-template-columns: 22% 22% 21% 22%;
        // grid-template-rows: 5% 36% 21%;
        &__img {
            min-height: 113px;
        }
        &__masterclass--descr {
            line-height: 90%;
        }
        &__item-title {
            font-size: 22px;
            line-height: 22px;
        }
        &__masterclass {
            // padding: 0 74px 33px 24px;
            margin-top: -83px;
        }
        &__masterclass--title {
            margin-bottom: 13px;
        }
        &__masterclass--descr {
            margin-bottom: 23px;
        }
    }

    .about {
        padding-bottom: 32px;
        &__grid {
            grid-template-columns: 47.5% 47.5%;
        }
        &__img {
            height: 72%;
        }

    }

    
    .projects {
        margin-bottom: 72px;
        &__grid {
            grid-template-columns: repeat(9, 7.3%);
            grid-template-rows: repeat(4, 298px) ;
            // 30.5% 31% 31% 31%
        }  
        &__card--item1{
            grid-column: 1/4;
        }
        &__card--item2{
            grid-row: 1/1;
            grid-column: 4/7;
        }
        &__card--item3{
            grid-row: 1/1;
            grid-column:7/10;
        }
        &__card--item4{
            grid-row: 2/2;
            grid-column: 1/10;
        }
        &__card--item5{
            grid-row: 4/4;
            grid-column: 1/10;
        }
        &__card--item6{
            // width: 342px;
            grid-row: 3/3;
            grid-column: 1/5;
            margin-right: -43px;
        }
        &__card--item7{
            grid-row: 3/3;
            grid-column: 6/10;
            // width: 342px;
            margin-left: -43px;
        }
    }
    .card {
        &__descr {
            display: block;
            margin-bottom: 9px;
            padding-right: 10px;
            
        }
        &__descr--1024-768 {
            display: none;
        }
        &__bgrnd {margin-bottom: 16px;}
        &__bgrnd--3 {
            margin-bottom: -8px;
        }
        &__bgrnd--7 {
            margin-bottom: 6px;
        }
        &__bgrnd--6  {
            margin-bottom: 6px;
        }
    }
  
    .contacts{
        margin-bottom: -4px;
        &__grid {
            height: 1000px;
            grid-template-columns: 100%;
            grid-template-rows: 30.5% 18% 49%;
        }
        &__map {
            width: 100%;
            grid-column: 1/1;
            grid-row: 1/3;
        }
        &__adress{
            height: 110px;
            grid-column: 1/1;
            grid-row: 2/2;
            padding: 25px 100px 21px 30px; 
        }
        &__form {
            padding: 0;
           max-width: 466px;
            grid-column: 1/1;
            grid-row: 3/4;
        }
        &__form-descr {
            margin-bottom: 18px;
        }
    
    }
   
    .footer {
        &__grid {
            grid-template-columns: 1fr 1fr;
        }
        &__center {
            display: none;
        }
        &__social {
            grid-column: 2/2;
        }
    }

  
}

@media (max-width: 760px) {

    .works {
      
        &__masterclass--descr {
            font-size: 24px;
        }
        &__masterclass--button {
            width: 145px;
            height: 40px;
        }
    }

    .about {
        padding-bottom: 100px;
        &__grid {
            grid-template-columns: 1fr;
        }
    
        &__article {
            font-size: 14px;
            line-height: 25px;
        }
    
        &__label {
            font-size: 18px;
        }
    
        &__input {
            height: 40px;
            max-width: 342px;
        }
    
        &__submit {
            height: 40px;
            margin-bottom: 70px;
        }
    }
  
}


@media (max-width: 600px) {
    .container {
        padding-left: 20px;
    }
    .hashtag {
        font-size: 12px;
        &-text{
            margin-left: 22px;
            padding: 2px 10px;
        }
    }
    .burger {
        display: flex;
    } 
    .header {
        &__container {
            height: 72px;
        }
       &__bottom-item {
            display: none;
        }
       &__logo--mobile{
            display: none;
        }
       &__logo--mini {
            display: block;
        }
        &__search-btn {
            margin-right: -6px;
        }
        &__search--svg {
            width: 20px;
            height: 20px;
        }
    }
   
    .works {
        margin-bottom: -86px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 420px 27px 186px 105px 105px;
        // 25% 25% 7% 20% 13%
        &__title {
            grid-column: 1/3;
            grid-row: 2/3;
        }
        &__item-title {
            font-size: 18px;
        }
        &__item1 {
            min-height: 422px;
           grid-column: 1/3;
            grid-row: 1/1;
        }
        &__item2 { 
            min-height: 186px;
           grid-column: 1/3;
            grid-row: 3/4;
        }      
        &__item3 {
            min-height: 105px;
           grid-column: 1/1;
            grid-row: 4/5;
        }
        &__item4 {
            min-height: 105px;
           grid-column: 2/2;
            grid-row: 4/5;
        }
        &__masterclass {
            grid-row: 1/1;
            padding: 22px 13px 26px 0px;
            margin-top: 218px;
        }
        &__masterclass--descr {
            line-height: 110%;
            margin-bottom: 10px;
        }
        &__hashtag-text {
            top: 3px;
            left: 0;
            right: 3px;
        }
    }

    .about {
        margin-bottom: 51px;
        padding-bottom: 156px;
        &__article--header {
            padding-top: 33px;
        }
    
        &__article--content {
            font-size: 14px;
            line-height: 25px;
            margin-bottom: -9px;
        }
    
        &__img {
            height: 81%;
        }
        &__submit {
            width: 117px;
            padding: 8px 22px;
        }
    
    }

    .projects {
        margin-bottom: 34px;
        &__grid{
            grid-template-columns: 2fr;
            grid-template-rows: 299px 277px 288px 411px 310px 295px 417px;
            gap: 25px;
        }
        
        &__card--item1{
            grid-row: 1/1;
            grid-column: 1/1;
        }
        &__card--item2{
            grid-row: 2/2;
            grid-column: 1/1;
        }

        &__card--item3{
            grid-row: 3/3;
            grid-column: 1/1;
        }

        &__card--item4{
            grid-row: 4/4;
              grid-column: 1/1;
        }

        &__card--item5{
            grid-row: 7/7;
            grid-column: 1/1;
        }

        &__card--item6{
            grid-row: 5/5;
            grid-column: 1/1;
             
        }
        &__card--item7{
            grid-row: 6/6;
            grid-column: 1/1;
            margin: 0;
        }

        &__title {
            margin-bottom: 15px;
        }
    }

    .card {
        margin-bottom: 5px;
        &__bigcard {
            margin-top: 158px;
        }
    }

    .bigcard__button{
        width: 105px !important;
        height: 37px;
    }

    
    .contacts {
        margin-bottom: -34px;
        &__adress {
            margin-left: -20px;
            margin-right: -10px;
            padding: 26px 34px 24px 19px;
        }
        &__map {
            margin-left: -20px;
            margin-right: -10px;
        }
        
        &__adress--tite {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 11px;
        }
        &__adress--descr {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 10px;
        }
        &__form {
            margin-top: 6px;
        }
        &__form-title {
            font-size: 18px;
            line-height: 22px;
        }
        &__form-descr {
            font-size: 14px;
            line-height: 18px;
        }
        &__input {
            height: 39px;
        }
        &__form-textarea {
            height: 147px;
        }
        &__form-submit {
            width: 117px;
            height: 40px;
        }
    }
    .contacts__map .ymap {
           width: 100%;
    }

    
    .footer {
        height: 124px;
        &__logo {
            display: none;
        }
        &__logo--mobile {
            display: none;
        }
        &__logo-mini {
            margin-left: 19px;
        }
        &__grid {
            display: flex;
        }
        &__social {
           margin: 0 auto;
        }
        &__bottom {
            display: flex;
        }
        &__bottom--text {
            margin-left: 19px;
        }
    }
  
  
}

@media (max-width: 586px) {
}